<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="P4Uri" value="ZEUS:1666"/>
        <add key="P4Workspace" value="TC_p4_zeus01_9165a4a3be0e2bf5_4be3a2b7e9eb09af"/>
        <add key="P4User" value="zeus01"/>
        <add key="P4Password" value="wpdntm12#"/>
        <add key="JiraUri" value="https://jiradev.nexon.com"/>
		<add key="JiraUser" value="zeus_jirabot"/>
		<add key="JiraPassword" value="j1P@ssw0rd"/>
        <add key="keyPattern" value="@ZEUS-[0-9]+"/>
        <add key="commentFormat" value= "[perforce changelist: ?changelist?] [?user?]?newLine??description?"/>
    </appSettings>
</configuration>